@import url('/style/style.css');


main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-info {
    position: relative;
    background-image: url('/images/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    border-left: 1px solid #ffff;
    border-top: 1px solid #ffff;
    text-align: center;
    width: 60vw;
    height: 100vh;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255, 0.015); /* Branco com 50% de opacidade */
    backdrop-filter: blur(20px);
}

.container-info::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  filter: blur(10px);
  z-index: -1;
}

.container-info h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #ffff;
}

.container-info button{
    background-color: #042d58;
    font-size: 1.3rem;
    color: #fff;
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    text-decoration: none;
}

.container-info button:hover {
  background-color: #0056b3;
}

.info-ocorrencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 75%;
    height: 30%;
    color: #ffff;
    border-bottom: 1px solid #fff;
}


.info-ocorrencia h2 {
    /* color: #84b6f4; */
    color: #e61919;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 5px;
    /* text-shadow: 2px 5px 7px rgba(0,0,0,0.52); */
}

.info-ocorrencia p {
    font-size: 1.3rem;
    margin: 0;
}

/* Media Queries para dispositivos menores */
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #opcoes-nav {
    flex-direction: column;
    align-items: center;
  }

  #opcoes-nav #login {
    margin-left: 0;
    margin-top: 1rem;
  }

  .container-info {
    width: 100%;
  }

  .container-info button {
    width: 80%;
  }

  .info-ocorrencia,
  .info-ocorrencia h2,
  .info-ocorrencia p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .info-ocorrencia h2{
    font-size: 2rem;
  }
}