@import url('/style/index.css');

main {
  display: flex;
  margin: 30px 50px;
  background-image: url("../images/logo.png");
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#textocentro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -40%);
  text-align: justify;
  line-height: 1rem;
  z-index: 1;
  color: #ffff;
  text-shadow: 2px 2px black;
  justify-content: flex-start;
  display: flex;
  align-items: left;
}

#textocentro h1{
  line-height: 3rem;
  font-size: 2rem;
}