main {
  display: flex;
  margin: 30px 50px;
  background-image: url("../images/logo.png");
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
}

#logo {
  animation: rotacao 20s infinite linear;
}

#textocentro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: rgb(196, 184, 184);
  text-shadow: 2px 2px black;
  justify-content: leftz;
  display: flex;
  align-items: left;
  
}