@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1.2rem; 
}

::-webkit-scrollbar-thumb {
  background-color: #042d58; 
  border-radius: 0.7rem; 
}
::-webkit-scrollbar-track {
  background-color: #d3d3d3; 
}

html {
  font-size: 62.5%;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-image: linear-gradient(to bottom, black, rgb(19, 173, 211));
}

nav {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container a{
  text-decoration: none;
  cursor: pointer;
}

#logo-container h2 {
  margin-left: 1rem;
  color: #ffff;
}

#logo {
  background-image: url("../images/logo.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotacao 20s infinite linear;
}

#opcoes-nav {
  text-align: center;
}

#opcoes-nav a {
  color: #ffff;
  font-size: 1.7rem;
  margin-left: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: 0.3s ease-in;
  text-align: center;
}

#opcoes-nav a:hover {
  color: rgb(146, 141, 141);
}

#opcoes-nav #login {
  color: #ffff;
  margin-left: 6rem;
  border-radius: 0.5rem;
  transition: 0.6s ease-in-out;
}

#opcoes-nav #login:hover {
  background-color: rgb(19, 173, 211);
  color: white;
}

#opcoes-nav {
  text-align: center;
}

#opcoes-nav a {
  color: #ffff;
  font-size: 1.7rem;
  margin-left: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: 0.3s ease-in;
  text-align: center;
}

#opcoes-nav a:hover {
  color: rgb(146, 141, 141);
}

#opcoes-nav #login {
  margin-left: 62rem;
  border-radius: 0.5rem;
  transition: 0.6s ease-in-out;
}

#opcoes-nav #login:hover {
  background-color: rgb(19, 173, 211);
  color: white;
}

#opcoes-nav #login1 {
  margin-left: 1rem;
  border-radius: 0.5rem;
  transition: 0.6s ease-in-out;
}

#opcoes-nav #login1:hover {
  background-color: rgb(19, 173, 211);
  color: white;
}

@keyframes rotacao {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
